# Laravel
/laravel/bootstrap/compiled.php
/laravel/vendor

# Configuration
/laravel/app/config/local
/laravel/app/config/staging
/laravel/app/config/production

# Basset development collections
/laravel/public/assets/compiled/public
/laravel/public/assets/compiled/admin
/laravel/public/assets/compiled

# Composer
laravel/composer.phar
laravel/composer.lock

# OS
.DS_Store
.idea/

# Packages
laravel/app/_ide_helpers.php
